@model App.ViewModels.InputViewModel

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Form validation <small>sub title</small></h2>

                    <div class="clearfix"></div>
                </div>

                <form class="form-horizontal form-label-left" novalidate="" asp-action="GetTansactions" asp-controller="Dashboard" method="post">

                    <div class="x_content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    Account Number
                                    <div class="form-group">
                                        <div class="input-group date" id="accountNumber">
                                            <input type="text" name="AccountNumber" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    Product Number
                                    <div class="form-group">
                                        @Html.DropDownList("ProductSelected", Model.ProdutNumber, "None", new { @class = "form-control" });
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    Transaction Date
                                    <div class="form-group">
                                        <div class="input-group date" id="transactionDate">
                                            <input type="text" name="TransactionDate" style="padding-left: 15px;" class="form-control has-feedback-left" id="single_cal2" placeholder="First Name" aria-describedby="inputSuccess2Status2">
                                            <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                            <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-9">
                            <button type="submit" class="btn btn-primary" asp-controller="Dashboard" asp-action="TransactionView">Reset</button>
                            <button id="send" type="submit" class="btn btn-success">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
