@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3> Media Gallery <small> gallery design</small> </h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <p>Media gallery design emelents</p>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="~/images/media.jpg" alt="image" />
                                </div>
                                <div class="caption">
                                    <a asp-controller="Dashboard" asp-action="TransactionView">Find Customer Transaction</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>