USE [master]
GO
/****** Object:  Database [dbApp]    Script Date: 14-12-2020 21:48:17 ******/
CREATE DATABASE [dbApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbApp]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 14-12-2020 21:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [varchar](150) NOT NULL,
	[CustomerId] [varchar](150) NOT NULL,
	[ProdId] [varchar](150) NOT NULL,
	[TransDesc] [text] NOT NULL,
	[TransAmt] [decimal](18, 0) NOT NULL,
	[TransDte] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](150) NULL,
	[UpdateBy] [varchar](150) NULL,
 CONSTRAINT [PK_AccountId] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 14-12-2020 21:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [varchar](150) NOT NULL,
	[AccountNumber] [varchar](150) NOT NULL,
	[ProdId] [varchar](150) NOT NULL,
	[F_Name] [varchar](150) NULL,
	[L_Name] [varchar](150) NULL,
	[M_Name] [varchar](150) NULL,
	[SSN] [varchar](10) NULL,
	[DOB] [datetime] NULL,
	[Address1] [text] NULL,
	[Address2] [text] NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Zip] [varchar](15) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](150) NULL,
	[UpdateBy] [varchar](150) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 14-12-2020 21:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProdId] [varchar](150) NOT NULL,
	[ProdName] [varchar](150) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](150) NULL,
	[UpdateBy] [varchar](150) NULL,
 CONSTRAINT [PK_ProductId] PRIMARY KEY CLUSTERED 
(
	[ProdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Customer]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Product] FOREIGN KEY([ProdId])
REFERENCES [dbo].[Product] ([ProdId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Product]
GO
USE [master]
GO
